body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to bottom right, rgb(36, 0, 37), rgb(141, 0, 154));
}

header {
  color: white;
  text-shadow: 1px 1px 1px black;
}
